#competence .container{
    width: 90%;
}

#competence .mid-box h4{
    font-family: 'Playfair Display', serif;
    line-height: 167px;
}

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px !important;
    text-align: center;
}

.chart figcaption {
    padding: 50px 25px;
    width: 56px;
    height: 7px;
    border: 5px solid #f0f0f0;
    border-radius: 100px;
    font-size: 0.5em;
}

.chart figcaption p {
    position: relative;
    top: -18px;
    left: -18px;
    font-size: 1.5em;
    width: 93px;
}

.chart img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.skill {
    top: 25px;
    left: 25px;
}

.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 5;
    stroke-dasharray: 352;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;

    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart-animation[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}

.chart-animation[data-percent='95'] .outer {
    stroke-dashoffset: 18;
    -webkit-animation: show95 2s;
    animation: show95 2s;
}

.chart-animation[data-percent='90'] .outer {
    stroke-dashoffset: 35;
    -webkit-animation: show90 2s;
    animation: show90 2s;
}

.chart-animation[data-percent='85'] .outer {
    stroke-dashoffset: 53;
    -webkit-animation: show85 2s;
    animation: show85 2s;
}

.chart-animation[data-percent='80'] .outer {
    stroke-dashoffset: 70;
    -webkit-animation: show80 2s;
    animation: show80 2s;
}

.chart-animation[data-percent='75'] .outer {
    stroke-dashoffset: 88  ;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}

.chart-animation[data-percent='70'] .outer {
    stroke-dashoffset: 106;
    -webkit-animation: show70 2s;
    animation: show70 2s;
}

.chart-animation[data-percent='65'] .outer {
    stroke-dashoffset: 123;
    -webkit-animation: show65 2s;
    animation: show65 2s;
}

.chart-animation[data-percent='60'] .outer {
    stroke-dashoffset: 141;
    -webkit-animation: show60 2s;
    animation: show60 2s;
}

.chart-animation[data-percent='55'] .outer {
    stroke-dashoffset: 158;
    -webkit-animation: show55 2s;
    animation: show55 2s;
}

.chart-animation[data-percent='50'] .outer {
    stroke-dashoffset: 176;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}

.chart-animation[data-percent='45'] .outer {
    stroke-dashoffset: 194;
    -webkit-animation: show45 2s;
    animation: show45 2s;
}

.chart-animation[data-percent='40'] .outer {
    stroke-dashoffset: 211;
    -webkit-animation: show40 2s;
    animation: show40 2s;
}

.chart-animation[data-percent='35'] .outer {
    stroke-dashoffset: 229;
    -webkit-animation: show35 2s;
    animation: show35 2s;
}

.chart-animation[data-percent='30'] .outer {
    stroke-dashoffset: 246;
    -webkit-animation: show30 2s;
    animation: show30 2s;
}

.chart-animation[data-percent='25'] .outer {
    stroke-dashoffset: 264;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart-animation[data-percent='20'] .outer {
    stroke-dashoffset: 282;
    -webkit-animation: show20 2s;
    animation: show20 2s;
}

.chart-animation[data-percent='15'] .outer {
    stroke-dashoffset: 300;
    -webkit-animation: show15 2s;
    animation: show15 2s;
}

.chart-animation[data-percent='10'] .outer {
    stroke-dashoffset: 317;
    -webkit-animation: show10 2s;
    animation: show10 2s;
}

.chart-animation[data-percent='5'] .outer {
    stroke-dashoffset: 334;
    -webkit-animation: show5 2s;
    animation: show5 2s;
}

.chart-animation[data-percent='0'] .outer {
    stroke-dashoffset: 352;
    -webkit-animation: show0 2s;
    animation: show0 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show100 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes show95 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 18;
    }
}

@keyframes show95 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 18;
    }
}

@-webkit-keyframes show90 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 35;
    }
}

@keyframes show90 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 35;
    }
}

@-webkit-keyframes show85 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 53;
    }
}

@keyframes show85 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 53;
    }
}

@-webkit-keyframes show80 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 70;
    }
}

@keyframes show80 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 70;
    }
}

@-webkit-keyframes show75 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 88;
    }
}

@keyframes show75 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 88;
    }
}

@-webkit-keyframes show70 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 106;
    }
}

@keyframes show70 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 106;
    }
}

@-webkit-keyframes show65 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 123;
    }
}

@keyframes show65 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 123;
    }
}

@-webkit-keyframes show60 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 141;
    }
}

@keyframes show60 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 141;
    }
}

@-webkit-keyframes show55 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 158;
    }
}

@keyframes show55 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 158;
    }
}

@-webkit-keyframes show50 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 176;
    }
}

@keyframes show50 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 176;
    }
}

@-webkit-keyframes show45 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 194;
    }
}

@keyframes show45 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 194;
    }
}

@-webkit-keyframes show40 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 211;
    }
}

@keyframes show40 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 211;
    }
}

@-webkit-keyframes show35 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 229;
    }
}

@keyframes show35 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 229;
    }
}

@-webkit-keyframes show30 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 246;
    }
}

@keyframes show30 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 246;
    }
}

@-webkit-keyframes show25 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 264;
    }
}

@keyframes show25 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 264;
    }
}

@-webkit-keyframes show20 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 282;
    }
}

@keyframes show20 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 282;
    }
}

@-webkit-keyframes show15 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 300;
    }
}

@keyframes show15 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 300;
    }
}

@-webkit-keyframes show10 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 317;
    }
}

@keyframes show10 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 317;
    }
}

@-webkit-keyframes show5 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 334;
    }
}

@keyframes show5 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 334;
    }
}

@-webkit-keyframes show0 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 352;
    }
}

@keyframes show0 {
    from {
        stroke-dashoffset: 352;
    }

    to {
        stroke-dashoffset: 352;
    }
}
/* END Keyframes for the initial animation */
