/* GENERALS */
#about-me-content h2, #portfolio h2, #experience h2, #education h2, #contact h2, #skill-title{ font-size: 45px; font-family: 'Josefin Sans', sans-serif;}

ul li a:hover, #cv-content a:hover {text-decoration: none;}

/* =Header
-------------------------------------------------------------- */
body.front-page #main{margin-top:0 !important;}
#header { padding: 0; position: relative; z-index: 999;}
.skehead-headernav{ background-color: #ffffff;  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);left: 0;top: 0;width: 100%;z-index: 200;  }
#header.skehead-headernav.skehead-headernav-shrink {position: fixed;}
#logo {transition: height 0.3s ease 0s, line-height 0.3s ease 0s; margin-top: 5px;  margin-bottom: 5px;position: relative;}
#logo #site-title {  margin: 0px;  font-size: 18px; word-break: break-word;}
.skehead-headernav.skehead-headernav-shrink #logo #site-title a{font-size:24px;line-height:24px;margin-top: 0;}
.skehead-headernav .logo{margin-top:8px; max-height: 100px; }
.skehead-headernav.skehead-headernav-shrink .logo { height:37px; margin-top:0;}
#logo #site-title a {color: #313131;display: inline-block; font-size: 30px; font-weight: 300; line-height: 40px; margin-top: 5px; text-decoration: none; text-transform: capitalize; }
#logo #site-description { color: #666666;font-size: 12px; left: 2px; line-height: 15px; position: absolute; }
#skehead .container {   width: 95%;    }
#skehead .top-nav-menu {  float: right; }
#skehead .navbar {  margin-bottom: 0px; float: right;}
#skehead .navbar ul li { margin-left: 0px; }
#skehead .navbar ul li a:hover{ background-color: #1ac8d2; color: white;}
#skehead #skenav {  margin-top:0px;  }
#skehead .sub-menu{display:none;}
.bottom-shadow { background: url("images/header_shadow.png") no-repeat scroll 0 0 transparent;  display: block;  height: 25px;  margin-bottom: 15px;  margin-top: -10px;  position: relative;  width: 869px;  }

/*About Me Section*/
#about-me-content .container { width: 90%; }
#about-me-content { padding: 60px 0 60px;}

/* Experience Section */
.timeline .timeline-heading h4 {
    font-family: 'Cabin Condensed', sans-serif;
}

.timeline .timeline-heading h3 {
    font-family: 'Lobster Two', cursive;
}

.timeline .timeline-body p {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

/* CV Section */
#cv-content a{
    padding: 10px 0px;
    background-color: #23527c;
}

#cv-content a:hover{
    background-color: #3377B4;
    color: white;
}

/* Portfolio Section */
#portfolio {
    padding-top: 50px;
    background-color: whitesmoke; /* Old browsers */
    background: -moz-linear-gradient(top, whitesmoke 0%, #f4f5f6 49%, whitesmoke 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(49%, #f4f5f6), color-stop(100%, whitesmoke)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, whitesmoke 0%, #f4f5f6 49%, whitesmoke 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, whitesmoke 0%, #f4f5f6 49%, whitesmoke 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, whitesmoke 0%, #f4f5f6 49%, whitesmoke 100%); /* IE10+ */
    background: linear-gradient(to bottom, whitesmoke 0%, #f4f5f6 49%, whitesmoke 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='whitesmoke', endColorstr='whitesmoke', GradientType=0 ); /* IE6-9 */
}
#portfolio .container{  width: 90%;    }
.categories {
    padding-bottom: 30px;
    text-align: center;
}
ul.cat li {
    display: inline-block;
}
ol.type li {
    display: inline-block;
    margin-left: 20px;
}
ol.type li a {
    background: #97A5C1;
    color: #fff;
    padding: 6px 14px;
}
ol.type li a.active {
    background: #312942;
    color: #fff;
}
ol.type li a:hover {
    background: #312942;
    color: #fff;
}
.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    z-index: 1
}
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item {
    margin: 15px 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.portfolio-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.portfolio-item .hover-bg {
    height: 260px;
    overflow: hidden;
    position: relative;
}
.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: black;
    background: rgba(0, 0, 0, 0.66);
    padding: 20% 0 0 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
    opacity: 0;
    color: #fff;
    font-weight: 400;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.hover-bg .hover-text>i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.hover-bg:hover .hover-text {
    opacity: 1;
}
#portfolio i.fa {
    font-size: 20px;
    padding: 5px;
    color: #E87E04;
}

/* Resume Section */

#experience {
    background-color: #97A5C1;
    padding-top: 50px;
}

#experience .container, #education .container { width: 90%; }

#education {
    background-color: #E2E3E7;
    padding-top: 50px;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #eee;
}
.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}
.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}
.timeline>li:after {
    clear: both;
}
.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    margin-left: 0;
    border: 1px solid #eee;
    border-radius: 100%;
    text-align: center;
    background: #fff;
}
.timeline>li .timeline-image h4 {
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline>li:last-child {
    margin-bottom: 40px;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    font-size: 16px;
}
.timeline .timeline-heading h2 {
    margin-top: 30px;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: #312942;
    font-size: 20px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
    margin-bottom: 0;
}
.education-ul{
    color: #97A5C1 !important;
    margin-bottom: 0;
}



/* Media Queries */

@media only screen and (min-width : 320px) and (max-width : 767px) {

    #header{
        height: 100% !important;
        position: inherit;
        text-align: center;
    }

    #header.skehead-headernav.skehead-headernav-shrink{ position: inherit;}

    #logo{ width: 100% !important; padding: 0; }

    #logo #site-description{ position: inherit;}

    #skehead .navbar{
        float: inherit;
        width: 100%;
    }

    #skehead .top-nav-menu{ float: right; padding-left: 0; padding-right: 0;}

    .navbar-nav > li > a{
        border: 1px solid;
        margin-bottom: 2px;
    }

    .navbar-nav{ margin: 0 !important;}

    .timeline>li .timeline-image{
        left: -35px;
        width: 90px;
        height: 90px;
    }

    .timeline>li .timeline-panel{
        width: 67%;
    }
    .timeline>li .timeline-panel .row div{
        padding-right: 0;
    }

    .timeline>li .timeline-image h4{
        margin-top: 15px;
        font-size: 12px;
    }

    .timeline-company-logo img{
        width: 90px; height: 90px;
    }

    #experience .timeline-company-logo{display: none;}

    #competence .mid-box h3{
        line-height: 0 !important;
    }

    .categories{
        padding: 0 !important;
    }

    .categories ul.cat li{
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0 !important;
    }

    .hover-bg .hover-text{
        padding: 0 !important;
    }

    .portfolio-item{
        pointer-events: none;
        cursor: default;
    }

    .form-control, #searchform #s{
        padding: 0 !important;
    }
}


@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
        text-align: left;
        color: #fff;
    }
    .intro H1 {
        font-size: 60px;
        font-weight: 500;
        letter-spacing: -2px;
    }
    .intro .name {
        font-weight: 600;
    }
    .intro .intro-text {
        max-width: 75%;
    }
    .intro .intro-text p {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    /*
    section {
        padding: 30px 0;
    }*/
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 34%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -66px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        line-height: 18px;
        font-weight: 400;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
        width: 38% !important;
    }

    #experience .timeline>li .timeline-panel {
        width: 31%;
    }

    #experience .timeline-heading, #experience .timeline-body{
        margin-left: 20px;
    }

    .mid-box{margin: 0px 0px 0px 20px !important;}
}

@media(min-width:992px) {
    #here-me h1 {
        margin: 10px 0 0px;
    }
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -92px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }

    .mid-box{margin-left: 0 !important;}
}

@media(min-width:1200px) {
    .timeline > li {
        min-height: 170px;
    }

    .timeline > li .timeline-panel{
        padding: 20px 20px 20px 100px;
    }

    #experience .timeline > li .timeline-panel {
        padding: 20px 20px 20px 180px
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -91px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px;
        font-weight: 400;
    }

    #experience .timeline > li.timeline-inverted > .timeline-panel {
        padding: 20px 100px 20px 20px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 20px 75px 20px 20px;
    }

    .mid-box{margin-left: 0 !important;}
}

/* CONTACT SECTION */

#contact {   background-color: #394E6C; padding: 10px;  color: white;   }
#contact #contact-information div { padding: 0;}
#contact #contact-form input[type="text"], #contact #contact-form input[type="email"] { height: 18px;}
#contact h2 {    text-align: center;    font-size: 3em;    padding-top: 10px;    font-weight: 500;  color: white; }
#contact-form-submit{   width: 100%; display: inline-block;    }
#contact-form-submit-button {    display: block;    background:#394E6C; color:white; border: 1px solid white;    margin: 0 auto;    font-size: 14px;    padding: 8px 25px;   transition: all 0.3s linear 0s;    -webkit-transition: all 0.3s linear 0s;    -moz-transition: all 0.3s linear 0s;    -o-transition: all 0.3s linear 0s;    cursor: pointer;  }
#contact-form-submit-button:hover{  background-color: #121d1f;    border: 1px solid #121d1f; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}

/* FOOTER */

#footer .social {
    text-align: center;
}
#footer .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#footer .social i.fa {
    font-size: 30px;
    padding: 4px 5px;
    color: #fff;
    transition: all 0.5s;
}
#footer .social i.fa:hover {
    color: #121d1f;
}