@btnColor: #fff;
@btnColorHover: #fff;
@btnBackground: transparent;
@btnBackgroundHover: #323232;
@btnBorderRadius: 5px;
@FontFamily: 'Raleway', sans-serif;
@text-transform: none;
@letter-spacing: 0;
@border: none;
@padding: 15px 25px;
@text-shadow: none;

.transition {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.font {
	font: 600 22px/1.2em @FontFamily;
}

*:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn,
.reply a {
	border: @border;
	color: @btnColor;
	text-decoration: none;
	background: #df5467; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmNTQ2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTVkNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #df5467 0%, #e95d70 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df5467), color-stop(100%,#e95d70)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #df5467 0%,#e95d70 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #df5467 0%,#e95d70 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #df5467 0%,#e95d70 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #df5467 0%,#e95d70 100%); /* W3C */
	cursor: pointer;
	padding: 0;
	display: inline-block;
	text-transform: @text-transform;
	border-radius: @btnBorderRadius;
	outline: none;
	box-shadow: none;
	text-shadow: @text-shadow;
	position: relative;
	letter-spacing: @letter-spacing;
	.transition;
	.font;

	.ie8 & {
		background: #e95d70;
	}
	> span {
		position: relative;
		z-index: 100;
		display: inline-block;
		vertical-align: middle;
		padding: @padding;
	}
	&:hover,
	&:active {
		color: @btnColorHover;
		background: #df5467; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmNTQ2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTVkNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #df5467 0%, #e95d70 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df5467), color-stop(100%,#e95d70)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #df5467 0%,#e95d70 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #df5467 0%,#e95d70 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #df5467 0%,#e95d70 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #df5467 0%,#e95d70 100%); /* W3C */
		border-color: @btnColor;
		box-shadow: none;

		> span {
			&:after {
				color: @btnColor;
				margin-left: 15px;
			}
		}
	}
	&:focus {
		color: @btnColor;
		background: #e95d70;
		border-color: @btnColor;
	}
}
.input-btn {
	padding: 0;
	
	> span {
		display: inline-block;
		padding: 0;
		vertical-align: top;
		position: relative;
	}
	input {
		display: block;
		border: none;
		background: none;
		color: @btnColor;
		z-index: 100;
		padding: @padding !important;
		margin: 0;
		position: relative;
		height: auto !important;
		text-transform: inherit;
		.font;
		.transition;
	}
	&:hover,
	&:active {
		input {
			color: @btnColorHover !important;
			background: none;
			border-color: @btnColorHover;
			box-shadow: none;
		}
	}
	&:focus {
		input {
			color: @btnColor;
			background: none;
			border-color: @btnColor;
		}
	}	
}
.btn-from-top {
	&:before {
		content: '';
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		z-index: 10;
		position: absolute;
		background: @btnBackgroundHover;
		border-radius: @btnBorderRadius;
		.transition;
	}
	&:hover {
		color: @btnColorHover;

		&:before {
			height: 100%;
			background: @btnBackgroundHover;
		}
	}
}
.btn-from-bottom {
	&:before {
		content: '';
		width: 100%;
		height: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		position: absolute;
		background: @btnBackgroundHover;
		border-radius: @btnBorderRadius;
		.transition;
	}
	&:hover {
		background: @btnBackground;
		color: @btnColorHover;

		&:before {
			height: 100%;
			background: @btnBackgroundHover;
		}
	}
}
.btn-from-left {
	&:before {
		content: '';
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		position: absolute;
		background: @btnBackgroundHover;
		border-radius: @btnBorderRadius;
		.transition;
	}
	&:hover {
		background: @btnBackground;
		color: @btnColorHover;

		&:before {
			width: 100%;
			background: @btnBackgroundHover;
		}
	}
}
.btn-from-right {
	&:before {
		content: '';
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 10;
		position: absolute;
		background: @btnBackgroundHover;
		border-radius: @btnBorderRadius;
		.transition;
	}
	&:hover {
		background: @btnBackground;
		color: @btnColorHover;

		&:before {
			width: 100%;
			background: @btnBackgroundHover;
		}
	}
}
.btn-from-center-vertical,
.btn-from-center-horizontal,
.btn-to-center-vertical,
.btn-to-center-horizontal,
.btn-from-center-in-sides {
	overflow: hidden;

	&:before,
	&:after {
		content: '';
		position: absolute;
		background: @btnBackgroundHover;
		.transition;
	}
}
.btn-from-center-vertical {	
	background: @btnBackgroundHover;

	&:before,
	&:after {
		width: 55%;
		top: 0;
		height: 100%;
		background: @btnBackground;
	}
	&:before {
		left: 0;		
	}
	&:after {
		right: 0;
	}
	&:hover {
		&:before,
		&:after {
			width: 0;
		}
	}
}
.btn-from-center-horizontal {
	background: @btnBackgroundHover;

	&:before,
	&:after {
		background: @btnBackground;
		width: 100%;
		left: 0;
		height: 55%;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&:hover {
		&:before,
		&:after {
			height: 0;
		}
	}
}
.btn-to-center-horizontal {
	&:before,
	&:after {
		height: 0;
		left: 0;
		width: 100%;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&:hover {
		&:before,
		&:after {
			height: 50%;
		}
	}
}
.btn-to-center-vertical {
	&:before,
	&:after {
		width: 0;
		top: 0;
		height: 100%;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
	&:hover {
		&:before,
		&:after {
			width: 50%;
		}
	}
}
.btn-from-center-in-sides {
	padding: @padding;
	background: @btnBackground;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: @btnBackgroundHover;
		border-radius: @btnBorderRadius;
		position: absolute;
		top: 0;
		left: 0;
		.scale(0);
	}
	&:hover,
	&:active {
		background: @btnBackground;

		&:before {
			.scale(1.2);
		}
	}
}
.btn-only-text-line-from-left {
	padding: 0;
	border: none;
	transition: 400ms color ease;

	span {
		padding: 1px 0;
		display: block;

		&:before {
			content: '';
			width: 0;
			height: 1px;
			background: @btnColor;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 100;
			opacity: 1;
			.transition;
		}
	}
	&.input-btn {
		> span {
			padding: 0;
		}
		input {
			display: block;
			height: 100%;
		}
	}
	&:hover,
	&:active {
		color: @btnColorHover;

		span {
			&:before {
				width: 100%;
				background: @btnColorHover;
			}
		}
	}
}
.btn-only-text-two-lines-from-left {
	padding: 0;
	border: none;
	transition: 400ms color ease;

	span {
		padding: 2px 0;
		display: inline-block;

		&:before {
			content: '';
			width: 0;
			height: 1px;
			background: @btnColor;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 1;
			.transition;
		}
		&:after {
			content: '';
			width: 0;
			height: 1px;
			background: @btnColor;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
			opacity: 1;
			.transition;
		}
	}
	&.input-btn {
		> span {
			padding: 0;
		}
		input {
			display: block;
			height: 100%;
		}
	}
	&:hover,
	&:active {
		color: @btnColorHover;

		span {
			&:before,
			&:after {
				width: 100%;
				background: @btnColorHover;
			}
		}
	}
}